extends template.pug

block selectionSidebar
    .sectionSidebar
        h3 League Rosters
        each item in content
            a(href=item.fields.creditUnionUrl) #{item.fields.creditUnionName}
            br
    .bodyContent
        h3 Column 2
block scripts
